/*****************************************/
/*************** CSS RESET ***************/
/*****************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **************************************************** */
/* **********************  ROOT *********************** */
/* **************************************************** */

body{
	background-color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	height: 100%;
}

.container{
	background-image: url("/images/nasa-background.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	max-width: 1200px;
}

.title{
	margin: 0 auto;
	padding-top: 42px;
	margin-bottom: 24px;
	width: 280px;
	background-color: #00000083;
}


h1{
    color: white;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	line-height: 46px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
	text-align: center;
	margin-top: 68px;
	margin-bottom: 15px;
}

/* ***************************************************** */
/* ****************** PICTURE SCREEN ******************* */
/* ***************************************************** */


nav{
	display: none;
}

.content{
	background-color: rgba(0, 0, 0, 0.846);
}

p{
	color: white;
	font-weight: 100;
	font-family: Arial, Helvetica, sans-serifs;
	line-height: 24px;
}

.content > div > h1{
	text-align: left;
	font-weight: 100;
	width: 260px;
	padding-top: 57px;
	padding-bottom: 24px;
	padding-left: 32px;
}

.content > img{
	width: 100%;
}


.content > div > p{
	padding-left: 32px;
	padding-right: 32px;
}

.content > .content-date > p{
	padding-left: 0;
	padding-right: 0;
}

i{
	color: white;
}

.content-date{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 32px;
	padding-top: 25px;
	padding-right: 32px;
	padding-bottom: 32px;
}

.content-date > .fa-heart{
	text-align: left;
	margin-left: auto;
	font-size: 30px;
}

a{
	color: white;
}



/* **************************************************** */
/* ******************** LOGIN FORM ******************** */
/* **************************************************** */

.form{
	display: flex;
	width: max-content;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 11px 20px ;
	padding-top: 80px;
	background-color: #0000008d;
	min-height: 500px;
}

.form > label{
	color: white;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 36px;
	align-self: flex-start;

}

.form > input{
	min-width: 300px;
	height: 50px;
	border-radius: 10px;
	border-color: #D5D5D5;
	border-style: solid;
	margin-top: 8px;
}

.form > button{
	width: 148px;
	height: 48px;
	margin-top: 30px;
}

/* **************************************************** */
/* ***************** FAVORITES SCREEN  **************** */
/* **************************************************** */

.images{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	background-color: rgba(0, 0, 0, 0.707);
}

.images img{
	padding-left: 24px;
	padding-right: 24px;
	height: 200px;
	width: 327px;
	object-fit: cover;
	padding-bottom: 16px;
}


/* **************************************************** */
/* ***************** TABLET  **************** */
/* **************************************************** */

@media screen and (min-width: 720px){
	.container{
		background-position-y: 100px;
		width: 720px;
		margin: 0 auto;
	}

	.title{
		width: 500px;
	}
}

/* **************************************************** */
/* ***************** DESKTOP **************** */
/* **************************************************** */

@media screen and (min-width: 980px){

	.container{
		max-width: 1200px;
		padding-top: 46px;
	}

	.title{
		width: 100%;
		padding-top: 32px;
		padding-bottom: 57px;
	}

	.h1{
		text-align: left;
	}

	.content{
		display: grid;
		grid-template-columns: 575px 400px;
		margin-bottom: 46px;
		background-color: rgba(0, 0, 0, 0.658);

	}

	nav{
		display: contents;
		display: flex;
		position: relative;
	}

	nav ul{
		position: fixed;
		width: 200px;
		height: 100%;
		background-color: #484848cd;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	nav ul li:first-child{
		padding-top: 68px;
	}

	nav ul li:nth-child(2){
		padding-top: 40px;
	}

	nav ul li:nth-child(3){
		padding-top: 385px;
		display: flex;
		flex-direction: column;
	}

	nav ul li:nth-child(4){
		padding-top: 35px;
	}


	nav ul li{
		text-align: center;
	}

	nav ul li i{
		font-size: 40px;
	}

	#date{
		border-radius: 10px;
		height: 30px;
	}

	#date + button{
		margin: 15px;
		height: 30px;
	}

	li > label{
		color: white;
	}

	ul li a{
		display: block;
	}

	i{
		color: white;
	}

	.content > .content-date{
		grid-column-start: 2;
		grid-column-end: 3;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-top: 25px;
	} 

	.content .content-date > p{
		padding-right: 0px;
		padding-left: 8px;
	}

	.content-date > .fa-solid{
		margin-left: auto;
		font-size: 30px;
	}

	.images{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 16px;
	}

	.images img{
		padding-left: 0px;
		padding-right: 0px;
		height: 205px;
		width: 205px;
		object-fit: cover;
		padding-bottom: 0px;
	}

	h2{
		text-align: left;
	}

}

